<div>
  <div>
    <div>
      <h2 class="d-flex row justify-content-center">
        Suscríbete
      </h2>
    </div>
    <div>
      <hr class="linea" />
    </div>

    <div class="d-flex row justify-content-center">
      <div>
        <input
          type="text"
          value="correo electronico"
          class="btn btn-info size"
        />
      </div>
      <div>
        <button type="button" class="btn btn-info">
          suscribete
        </button>
      </div>
    </div>
  </div>
  <div class="division">
    <footer class=" d-flex row justify-content-between  color ">
      <div>
        <img src="assets/icono2.png" width="90" height="90" class="m-5 p-1" />
      </div>

      <div class="text-muted">
        <p>
          @2020.Derlys/Colombia.Todos los derechos reservados.
        </p>
      </div>

      <div class="redes">
        <a
          class="mr-4"
          href="https://www.facebook.com/profile.php?id=100009535093821"
          ><img type="image/x-icon" src="/assets/facebook.svg"
        /></a>
        <a
          class="mr-4
        "
          href="https://www.instagram.com/derlysdm/?hl=es-la"
          ><img type="image/x-icon" src="/assets/instagram.svg"
        /></a>
        <a
          class="mr-4 
        "
          href="https://twitter.com/derlys_paola"
          ><img type="image/x-icon" src="/assets/twitter.svg"
        /></a>
      </div>
    </footer>
  </div>
</div>
