.linea {
  height: 1.5px;
  width: 550px;
  background-color: black;
}

.size {
  margin-right: 50px;
}

.color {
  background-color: black;
}
p {
  margin-top: 160px;
  margin-left: -520px;
}
.redes{
    padding: 60px;
    
}
.division{
    padding-top: 60px;
}