<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <!-- Card -->
    <div class="card">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="/assets/paisaje.png"
          alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">Panama</h4>
        <!--Text-->
        <p class="card-text">Viaje por primera vez fuera de Colombia el 16 de diciembre del 2016, fue
          una sorpresa para mi darme cuenta que era una realidad viajar por las
          creencias pre consevidas que siempre tenemos; como pensar "se necesita
          tener mucho dinero".Mi viaje lo hice con la persona mas inesperada y el
          que es ahora mi compañero de vida.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light-blue btn-md" onclick="">Read more</button>

      </div>

    </div>
    <!-- Card -->
  </div>
  <div class="col mb-4">
    <!-- Card -->
    <div class="card">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="/assets/paisaje.png"
          alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">Ecuador</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
          card's content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light-blue btn-md">Read more</button>

      </div>

    </div>
    <!-- Card -->
  </div>
  <div class="col mb-4">
    <!-- Card -->
    <div class="card">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="/assets/paisaje.png"
          alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">Argentina</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
          card's content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light-blue btn-md">Read more</button>

      </div>

    </div>
    <!-- Card -->
  </div>
  <div class="col mb-4">
    <!-- Card -->
    <div class="card">

      <!--Card image-->
      <div class="view overlay">
        <img class="card-img-top" src="/assets/paisaje.png"
          alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">

        <!--Title-->
        <h4 class="card-title">Amsterdam</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
          card's content.</p>
        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-light-blue btn-md">Read more</button>

      </div>

    </div>
    <!-- Card -->
  </div>
</div>







<div class="card">
  <div class="card-header">
    <h5 class="card-title ">Panama</h5>
    <h6>Mi primir viaje fuera de Colombia</h6>
  </div>
  <div class="card-body">
    <p class="card-text">
      Viaje por primera vez fuera de Colombia el 16 de diciembre del 2016, fue
      una sorpresa para mi darme cuenta que era una realidad viajar por las
      creencias pre consevidas que siempre tenemos; como pensar "se necesita
      tener mucho dinero".Mi viaje lo hice con la persona mas inesperada y el
      que es ahora mi compañero de vida.
    </p>
    <p>
      En ese momento sentia una mezcla de emociones que pasaban por alegria,,
      nervios y ansiedad. Sin embargo me sentia feliz y agradecida de vivir esta
      experiencia que seria algo que no olvidaria jamas y asi fue lo recuerdo
      siempre con gran emoción.
    </p>
    <p>
      Les cuento que los tramites fueron relativamente pocos ya que el país al
      que viaje fue Panama un país cercano y para el cual solo se requiere el
      pasaporte como documento para ingresar, debes demostrar que tienes los
      recursos para estar en el país el tiempo que declaras en imigración y ya
      esta.
    </p>
    <p>
      Panáma es un país muy pluricultural literalmente hay personas de todas
      partes del mundo. chinos,brasileños, colombianos, venezolanos,japoneses y
      estadounidenses que son los que influyeron mas en su cultura por haber
      sido colonizadores.<br />
      El lugar especifico donde nos quedamos fué ciudad de panáma su
      arquitectura aun tiene rastros de cuando fué colonizado por EE.UU; su
      moneda es el dolar, sin embargo en bajas denominaciones usan la balboa que
      tiene el mismo valor que el dolar.
    </p>
  </div>
  
</div>
