<div class="card">
  <div class="card-header">
    <h5 class="card-title ">Panama</h5>
    <h6>Mi primir viaje fuera de Colombia</h6>
  </div>
  <div class="card-body">
    <p class="card-text">
      Viaje por primera vez fuera de Colombia el 16 de diciembre del 2016, fue
      una sorpresa para mi darme cuenta que era una realidad viajar por las
      creencias pre consevidas que siempre tenemos; como pensar "se necesita
      tener mucho dinero".Mi viaje lo hice con la persona mas inesperada y el
      que es ahora mi compañero de vida.
    </p>
    <p>
      En ese momento sentia una mezcla de emociones que pasaban por alegria,,
      nervios y ansiedad. Sin embargo me sentia feliz y agradecida de vivir esta
      experiencia que seria algo que no olvidaria jamas y asi fue lo recuerdo
      siempre con gran emoción.
    </p>
    <p>
      Les cuento que los tramites fueron relativamente pocos ya que el país al
      que viaje fue Panama un país cercano y para el cual solo se requiere el
      pasaporte como documento para ingresar, debes demostrar que tienes los
      recursos para estar en el país el tiempo que declaras en imigración y ya
      esta.
    </p>
    <p>
      Panáma es un país muy pluricultural literalmente hay personas de todas
      partes del mundo. chinos,brasileños, colombianos, venezolanos,japoneses y
      estadounidenses que son los que influyeron mas en su cultura por haber
      sido colonizadores.<br />
      El lugar especifico donde nos quedamos fué ciudad de panáma su
      arquitectura aun tiene rastros de cuando fué colonizado por EE.UU; su
      moneda es el dolar, sin embargo en bajas denominaciones usan la balboa que
      tiene el mismo valor que el dolar.
    </p>
  </div>
  
</div>
<div>
    <section class="animated-grid">
        <div class="card">a</div>
        <div class="card">b</div>
        <div class="card">c</div>
        <div class="card">d</div>
        <div class="card">e</div>
        <div class="card">f</div>
        <div class="card">g</div>
        <div class="card">h</div>
        <div class="card">i</div>
        <div class="card">j</div>
        <div class="card">k</div>
        <div class="card">l</div>
        <div class="card">main</div>
      </section>
  </div>
