
<div class= "baner">
</div>

<div class="text-center">
    <h3 aling= "center">NÓMADAS DIGITALES</h3>
</div>

<!-- 
    <div class= "color">

    <p class= "firts">Ser un nómada digital no es una moda o algo facíl requiere preparación, estudio y sacrificio inicial para alcanzar la meta que quieres<br>
       si desides hacerlo sera tu estilo de vida recuerdalo. 
    <br>Dependiendo de lo que quieras lograr como profesional asi sera el camino que debas recorrer como nómada.</p><p class= "second">Quiero compartirles el camino de preparación y cambio de mentalidad que emprendi hace 1 año
    <br>acompañame en esta aventura de desafios, historias y mucho codigo.</p>

    <p class= "third">Espero que en este espacio puedan encontrar contenido util para emprender sus metas,retos y sueños
    <br>Yo compartos los mios con ustede porque en algún momento un blog un articulo o una pagina web como esta me inspiro a continuar este camino.</p>

</div>
  -->
  <div class= "color">

    <p class= "firts">Ser un nómada digital no es una moda o algo facíl, requiere preparación estudio y sacrificio inicial para alcanzar la meta que quieres;
    si desides hacerlo sera tu estilo de vida recuerdalo. 
    Dependiendo de lo que quieras lograr como profesional asi sera el camino que debas recorrer como nómada.
    <p>
    Quiero compartirles el camino de preparación y cambio de mentalidad que emprendi hace 1 año
    acompañenme en esta aventura de desafios,historias y mucho codigo.Espero que en este espacio puedan encontrar contenido util para emprender sus metas,retos y sueños.
    Yo compartos los mios con ustede porque en algún momento un blog, un articulo o una pagina web como esta me inspiro a continuar este camino.</p>

</div>
