.baner{

    height: 200px;
    background-image: url(/assets/paisaje.png);
    background-size: cover;
    background-position: center;
}

h3 {
    margin-top: 35px;
  }

  .firts{
    margin-top: 50px;
    text-align: justify;
  }
  /*.second{

    margin-top: 35px;
    text-align: center;
  }
  .third{

    margin-top: 35px;
    text-align: center;
  }
 
  .color{

    background: #dafff1;
  } */